.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
Balatro.antihypertensive.code-workspace
lovely/
!lovely/README.md
Steamodded/
!Steamodded/README.md
Balatro-History/
Contents/
jkrs/
AGENT.md
save.*
balatro_src/
MCP_SUGGESTIONS.md/